.main{
  background-color: rgba(47, 50, 80, 0.904);
  color: white;
}
.headerImg{
  width: 90%;
  margin: 0 auto;
  display: flex;
  
}
.mainDiv{
  text-align: center;
  padding: 10px;
}
.mainDiv>img{
  width: 70%;
}