.main{
  color: black;
}
.headerImg{
  width: 90%;
  margin: 0 auto;
  display: flex;
  
}
.mainDiv{
  text-align: center;
  padding: 10px;
}
.mainDiv>img{
  width: 60%;
}
h4{
  font-size: 26px;
}
h1{
  font-size: 44px;
}